*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'monsterret';
    color: #fff;
}
*::selection{
    background-color: #fff;
    color: #95C11E;
}
html,body{
    height: 100%;
    width: 100%;
    perspective: 800px;
}
#nav{
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 120px;
    gap: 50px;
    z-index: 99;
    position: fixed;
}
#cursor{
    height: 20px;
    width:20px;
    background-color: rgb(163, 249, 36);
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}
#cursor-blur{
    height: 400px;
    width:400px;
    background-color: rgba(80, 113, 18, 0.653);
    border-radius: 50%;
    position: fixed;
    filter:blur(50px);
    z-index: 9;
}
#nav img{
    height: 75px;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.385);

}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 900;
    z-index: 10;
}
#page1 h1{
    font-size: 140px;
    font-weight: 900;
    position: relative;
}
#page1 h1::before{
    content:"Eat.Drink.Play." ;
    position:absolute ;
    color: #000;
    top: -6px;
    left:-6px;
    -webkit-text-stroke: 2px rgb(163, 249, 36);
    z-index: -1;
}
#page1 h2{
    font-size: 40px;
    font-weight: 800;
    margin: 10px 20px 0px 0px;
}
p{
    width: 30%;
}
#page2{
    min-height: 100vh;
    width: 100%;
   
}
#scroller{
   
    white-space: nowrap;
    overflow-y: auto;
    overflow-x: auto;
    position: relative;
    z-index: 10;
}
#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 13s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

#scroller h4{
    display: inline-block;
    font-size: 120px;
    font-weight: 800;
    font-family: gilroy;
    margin: 10px;
    color: transparent;
    -webkit-text-stroke:2px rgb(163, 249, 36);
}
@keyframes scroll {

    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#aboutus{
    height: 40vh;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;


}
#aboutus img{
    height: 220px;
    width: 220px;
    border-radius: 20px;
    object-fit: cover;
}
#about{
    width: 50%;
    text-align: center;
    font-weight: 600;
    font-size: 34px;
}
#about p{
    display:contents;
    font-size: 20px;
    line-height:26px ;
    
}
#cards-container{

    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.card{
    height: 80%;
    width: 28%;
    border-radius: 30px;
    transition: all ease 0.6s;

}
#card1{
    background-position: center;
    background-size: cover;
    background-image:url("images/a person interacting with codes in a augmented rea.jpg");
}
#card2{
    background-position: center;
    background-size: cover;
    background-image:url("images/An adorable and baby dinosaur with big color eyes.jpg");
}
#card3{
    background-position: center;
    background-size: cover;
    background-image:url("images/golf moments (1).jpg");
}
.overlay{
    height: 100%;
    width: 100% ;
    background-color:rgb(163, 249, 36) ;
    padding-top: 30px;
    opacity: 0;
    transition: all ease 0.6s;
    border-radius: 30px;
}
.overlay h4{
    color:#000;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    white-space: nowrap;
    margin-bottom: 20px;
    

}
.overlay p{
    color:black;
    font-size: 18px;
    display: contents;
    width: 80%;
}
.card:hover .overlay{
    opacity: 1;
}
.card:hover{
    transform: rotate3d(-1,1,0,20deg);
}
#green-div{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:linear-gradient(to left bottom, rgb(3, 108, 57),rgb(135, 247, 50))  ;

    

}
#green-div h4{
    width: 45%;
    line-height: 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}
#page3{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#page3>h4{
    font-size: 25px;
    font-weight: 700;
    width: 60%;
    text-align:center ;
    line-height: 35px;
}
#page3 img{
    position: absolute;
    height: 60px;
}
#page3 #colon1{
    left: 10%;
    top: 10%;
}
#page3 #colon2{
    right: 10%;
    bottom: 10%;
}
#page4{
    height: 50vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 70px;

}
 .elem{
   height: 70%;
    width: 26%;
    overflow:hidden;
    border-radius: 20px;
    position: relative;
}
.elem h2{
    height: 100%;
     width: 100%;
     background-color: #95C11E;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 40px;
     color: black;
     font-weight: 800;
     position: absolute;
     z-index:10 ;
     transition: all ease 0.5s;
 }
 .elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.1;
 }
 .elem:hover h2{
    color: #fff;
    background-color: transparent;
    object-fit: cover;
 }
 .elem:hover img{
    scale: 1;;
 }
 #page4 h1{
    font-size: 80px;
    position: absolute;
top: -5px;
color:black;
-webkit-text-stroke: 2px white;
 }
 #footer{
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom,rgb(5, 126, 40) ,#95C11E);
 position: relative;
 display: flex;
 align-items: center;
 justify-content: flex-start;
 gap: 150px;
 padding: 0 100px;
text-transform: uppercase;

}
#footer img{
    height: 40%;
    width: 60%;
}
#footer img:hover{
    border: 2px solid black;
    border-radius: 10%;
}
#footer:hover{
    text-shadow: 1px 2px 2px black;
}